<!DOCTYPE html>
<html lang="en">
<head>
    <title>Template engine ejs tutorial</title>
</head>
<body>
    <%- include('common/header'); %>
    <h1>Welcome <%= user.name %></h1>
    <h1>User age: <%= user.age%></h1>
    <h1>City:<%= user.city%></h1>
    <h1>Country:<%= user.country%></h1>
    <h1>User ID:<%= user.ID%></h1>


    
</body>
</html>